<html>

<head>
  <script src="https://static.freshdev.io/fdk/2.0/assets/fresh_client.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/style.css" />
  <link rel="stylesheet" type="text/css" href="https://static.freshdev.io/fdk/2.0/assets/freshdesk.css" />
  <script type="module" src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.esm.js">
  </script>
  <script nomodule src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.js">
  </script>
  <script src="https://api.typingdna.com/scripts/typingdna.js"></script>
</head>

<body>
  <div class="fw-widget-wrapper">
    <blockquote class="quote-one">I'm selfish, impatient and a little insecure. I make mistakes, I am out of control and
      at times hard to handle. But if you can't handle me at my worst, then you sure as hell don't deserve me at my
      best.</blockquote>
    <fw-textarea cols=45 rows=5 label="Give my TypingDNA" placeholder="Enter the data" state="normal"
      class="initial-dna"></fw-textarea>
    <br>
    <p class="intercept-reply"> Secure "Reply" <fw-toggle size="medium"></fw-toggle>
    </p>
    <hr>
    <blockquote class="quote-one">Two things are infinite: the universe and human stupidity; and I'm not sure about the
      universe.</blockquote>
    <fw-textarea cols=45 rows=5 label="Give my TypingDNA" placeholder="Enter the data" state="normal" class="final-dna">
    </fw-textarea>
    <fw-button size="small" color="secondary" class="verifyBtn" expand>Verify DNA</fw-button>
  </div>
</body>
<script type="module" src="./../scripts/app.js"></script>
<script defer src="./../scripts/modal.js"></script>

</html>
